/*SCREEN SIZES*/
$mobile: 767px;
$desktop: 1200px;

/*MAIN COLOURS*/
/*BACKGROUND*/
$lightGrayBg: #fbfbfb;
/*FONT COLORS*/
$darkText: #212121;
$greyText: #797979;
/*TRANSACTION MENU*/
$darkBlue: #6ec0e6;
$darkerBlue: #399cca;
$lightBlueText: #e2f2fa;
$lightGrayMenu: #b0bec5;